.footer{
     border: 2px solid rgb(142, 16, 215);
     background-color: rgb(142, 16, 215);
}

.footer .footer-title{
    margin-left: 100px;
    color: rgb(41, 5, 62);
}

.footer .footer-social{
    float: right;
    margin-top: -70px;
    margin-right: 100px;
}

/* responsive design for mobile */

@media screen and (max-width: 768px) {
    .footer .footer-title{
        margin-left: 10px;
    }

   .footer .footer-social{
        margin-right: 10px;
   }
}